/*
    Name: Waris Samadi
    File: styles.css
    Date: 2025-04-09
    A very brief description of the file: This file contains the initial styles for the Accessibility Troubleshooting tutorial.
*/
body {
    font-family: Arial, sans-serif;
}
